<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.btc.acLabs.ui"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="com.btc.acLabs.ui">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.btc.acLabs.ui/com.btc.aclabs.login.E4LifeCycle">
         </property>
      </product>
   </extension>

</plugin>
